streamlit
streamlit_option_menu
streamlit_lottie
PyPDF2
langchain
langchain_google_genai
langchain_community
python-dotenv
speechrecognition
gtts
pygame
translators
pyngrok
pydub 
webrtcvad
aiofiles
pynput
openai
openai-whisper
pyaudio
langchain_ollama