streamlit
streamlit_option_menu
json
requests
streamlit_lottie
PyPDF2
langchain.text_splitter
os
PIL
langchain_google_genai
langchain_community.vectorstores
langchain.chains.question_answering 
langchain.prompts
dotenv
speech_recognition
gtts
io
translators
pyngrok
